*{
    margin: 0;
}
body{
    background-color: rgb(36, 32, 32);
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    color: #fff;
    position: sticky;
    z-index: 1000;
    top: 0;
}
.menu{
    display: flex;
    list-style: none;
    align-items: center;
    
    
    
}
.menu li{
     padding-right: 100px;
     color: #fff;
}
.section{
    
    display: flex;
    margin: 30px;
    padding: 10px;  
}
.left {
    display: flex;
    justify-content: left;
    font-size: 10px;
}
.im.right {
    width: 100%;
    
}
#route{
    width: 100%;
}
.title {
    font-size: 8rem;
    color: white;
}
.subtitle {
    font-size: 2rem;
    color: blue; 
}
#para {
    font-size: 0.8rem;
    color: white;
}
.foot {
    display: flex;
    background-color: rgb(15, 15, 15);
    padding: 15px;
    border-radius: 9px;
    justify-content: space-between;
}
.footerleft {
    text-align: center;
    color: white;
}
.btn {
     display: flex;
     flex-direction: column;
     padding-top: 5px;
}
button {
    background-color: #474DFF;
    border-radius: 8px;
    height: 40px;
    width: 150px;
}
.footerright {
    width: 67%;
    color: white;
    

}
.im {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    width: 67%;
    
}
.im img {
    width: 80px;
}

/* Responsive */

@media screen and (max-width:1030px) {
    .title{
        font-size: 2.5rem;
    }
    .subtitle{
        font-size: 1.5rem;
    }
    #para{
        font-size: 0.7rem;
    }
}
@media screen and (max-width:700px) {
    li{
        font-size: 0.8rem;
    }
    .title{
        font-size: 1.5rem;
    }
    .subtitle{
        font-size: 1rem;
    }
    #para{
        font-size: 0.6rem;
    }
    .right{
        width: 50%;
    }
    .im.img{
        width: 50px;
    }
    button{
        height: 40px;
        width: 80%;
    }
    .btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 7px;
    }
}
@media screen and (max-width:800px) {
    .right{
        width: 50%;
    }
} 
    